body{
    background-image: url(https://newcdn.mowplayer.com/719567640886/2020/11/25/thumbnails/de9u5oqhaiwe4yt7.jpg);
}

.forgot-border{
    position: absolute;
    border-style: solid;
    border-color: red;

    border-style:solid;
    border-width: 4px;
    border-radius: 30px;
    border-color: 20px;
    padding-top: 450px;
    width: 400px;
    border-color: red;
    left: 480px;
    top: 65px;
    background-color: transparent;
    border-color: rgb(184, 184, 184);
    backdrop-filter: blur(15px);
}

/* .forgot-border{
    position: absolute;
    border-style: solid;
    border-color: red;

    border-style:solid;
    border-width: 4px;
    border-radius: 30px;
    border-color: 20px;
    padding-top: 450px;
    width: 700px;
    border-color: red;
    left: 340px;
    top: 65px;
    background-color: transparent;
    border-color: rgb(184, 184, 184);
    backdrop-filter: blur(15px);
} */

.email{
    position: absolute;
    left: 560px;
    top: 240px;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}


.one-label{
    position: absolute;
    left: 560px;
    top: 218px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.text{
    position: absolute;
    left: 490px;
    top: 300px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.cancel{
    position: absolute;
    left: 610px;
    top: 370px;
    font-size: 19px;
    border: none;
    background-color: rgba(128, 128, 128, 0.568);
    border-radius: 5px;
    width: 100px;
    height: 24px;
}.cancel:hover{
    background-color: rgba(128, 128, 128, 0.76);
    cursor: pointer;
}

.search{
    position: absolute;
    left: 720px;
    top: 370px;
    font-size: 19px;
    border: none;
    background-color: rgba(56, 56, 255, 0.349);
    border-radius: 5px;
    width: 100px;
    height: 24px;
}.search:hover{
    background-color: rgba(56, 56, 255, 0.664);
    cursor: pointer;
}

.ac-search{
    position: absolute;
    left: 500px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

.search-icon{
    position: absolute;
    left: 640px;
    top: 100px;
    cursor: pointer;
}

